.idea
*.iml
*.xml
.cache
.classpath
.project
.settings/
scripts/
out/
code/Sandbox
code/src/reopp/common/choco/ConstrBuilder.scala.failed
code/src/reopp/common/examples/Experiment.scala
code/src/reopp/common/guardedcommands/z3/Test.scala
code/src/reopp/dreams/TestDreamsComp.scala
code/src/reopp/dreams/TestKilling.scala
code/tests/testing Approval with z3.txt